@import url(http://fonts.googleapis.com/css?family=Roboto);

.red {
    color:red;
}
.form-area {
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
    border: 1px solid GREY;
    -webkit-align-content: center;
    align-content: center;
}

form  {
    -webkit-align-content: center;
    align-content: center;
}

.formcontainer {
    padding: 0;
    -webkit-align-content: center;
    align-content: center;
    margin:0 auto;
}

.form1 {
    padding: 0;
    width: 100%;
    -webkit-align-content: center;
    align-content: center;
}

.form-area {
    margin:0 auto;
    border: none;
    background-color: white;
}

.navbar {
    border-radius: 0;
}

header {
    padding: 10px;
}